# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**

-Describe some tools for Datascience.

-How use jupyter notebook.

-List some examples of libraries.

Some of the popular languages that Data Scientists use are:

1.- Python

2.- R

3.- SQL

Some of the commonly used libraries used by Data Scientists include:

1.- Pandas

2.-Numpy 

3.- Matplotlib

|Data Science Tools|
|------------------|
|MYSQL             |
|Apache Spark      |
|TensorFlow        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#this will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Anibal Gutiérrez Martínez